<div class="contentBody">
  <div class="loading" *ngIf="isLoading">Loading...</div>
  <div *ngIf="!isLoading">
    <span class="title">{{title}}</span>
  </div>
  <div *ngIf="!isLoading">
  <div *ngFor="let weather of weathers" class="weather-cont">
    <div class="inner-cont">
      <div class="sec1">
          <div class="date">{{weather.day}}</div>
          <div class="img"><img src={{weather.icon_url}} /><span class="big-temp">{{weather.the_temp}}&#8451;</span></div>
      </div>
      <div class="sec2">
          <div class="temp status">{{weather.state_name}}</div>
          <div class="temp"><span>Min:</span> {{weather.min_temp}}&#8451;</div>
          <div class="temp"><span>Max:</span> {{weather.max_temp}}&#8451;</div>
          <div class="temp"><span>Humidity:</span> {{weather.humidity}}</div>
      </div>
      </div>
    </div>
    </div>
</div>
